 <%- include('partials/header') %>
<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" id="name"style="margin-left: 10%; font-size: 25px;"href="#"> GABIJAGUS </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" style="margin-right: 3%;" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
		    <li class="nav-item active">
		    	<a class="nav-link" id="work"style="color: #7348c8;" href="">MY WORK</a>
		     </li>
		     <li class="nav-item active">
		    	<a class="nav-link" id="aboutme" href="/aboutme">ABOUT ME</a>
		     </li>
		     <li class="nav-item active">
		    	<a class="nav-link" id="contact" href="">CONTACT ME</a>
		     </li>
		</ul>
	</div>
</nav>

<div style="margin: 5%;">
	<div class="row divider">
	    <div class="col"><hr></div>
	    <div class="col-auto"><strong>SUVARGELIAI</strong></div>
	    <div class="col"><hr></div>
	</div>
	<div class="row">
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/goda.jpg" class="post-pic">
		</div>
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/cool.jpg" class="post-pic">
		</div>
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/dance.jpg" class="post-pic">
		</div>
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/me.jpg" class="post-pic">
		</div>
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/squad.jpg" class="post-pic">
		</div>
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/sweater.jpg" class="post-pic">
		</div>
	</div>
	<div class="row divider">
	    <div class="col"><hr></div>
	    <div class="col-auto"><strong>KOLIAŽAI</strong></div>
	    <div class="col"><hr></div>
	</div>
	<div class="row">
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/koliaz.jpg" class="post-pic">
		</div>
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/koliaz.jpg" class="post-pic">
		</div>
		<div class="post col-lg-4 col-md-6 col-sm-6 col-12">
			<img src="works/koliaz.jpg" class="post-pic">
		</div>
	</div>
</div>


 <%- include('partials/footer') %>	